<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Назначить собеседование</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>
<body>

{% import 'util.html' as utils %}

<div class="d-flex justify-content-center mt-3">
    Назначить собеседование
</div>

<div class="container h-100 mt-3">
    <div class="row h-100 justify-content-center align-items-center">
        <form id="interview_form" class="col-5" action="/process/interview/set" method="post">
            <div class="form-group mb-3">
                <label for="date" class="form-text">Дата собеседования</label>
                <input class="form-control" type="date" name="date" id="date" required>
            </div>

            <div class="form-group mb-3">
                <label for="v_id" class="form-text">Вакансия</label>
                <select class="form-control" id="v_id" name="v_id">
                    {% for item in open_vac %}
                        <option value="{{ item['v_id'] }}">{{ item['vac_name'] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="e_id" class="form-text">Собеседующий</label>
                <select class="form-control" id="e_id" name="e_id">
                    {% for item in hr %}
                        <option value="{{ item['id'] }}">{{ item['name'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
</div>

{% import 'util.html' as utils %}

<div class="container h-50">
    <div class="row">
        <div class="col-md-5">
            <h2>Список кандидатов</h2>
            {% if items %}
                {% for item in items %}
                {{ utils.render_item(item, show_form=True) }}
                {% endfor %}
            {% else %}
                <p> Нет кандидатов </p>
            {% endif %}
        </div>

        <div class="col-md-5">
            <h2>Выбранные кандидаты</h2>
            {% if basket %}
                {% for item in basket %}
                {{ utils.render_item(item, show_form=False) }}
                {% endfor %}
            {% else %}
                <p> Нет выбранных кандидатов </p>
            {% endif %}
        </div>

        <div class="col-md-2">
            <a href="clear">Очистить выбранный список</a>
        </div>
    </div>
</div>

<div class="container h-100 mt-3">
    <div class="row h-100 justify-content-center align-items-center">
        <input class="btn btn-primary" type="submit" value="Назначить собеседование" form="interview_form">
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('process.interview') }}">Назад</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">В главное меню</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('exit_system') }}">Выход</a>
        </li>
    </ul>
</div>
</body>
</html>