<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список собеседований</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>

<style>
    table,
    td {
        text-align: center;
    }
</style>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ИС Рекрутинг</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('process.process_menu') }}">Назад</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/exit">Выход</a>
                </li>
            </ul>
            <div class="text-light">Вы авторизованы как {{ context.role }}</div>
        </div>
    </div>
</nav>

<div class="d-flex justify-content-center">
    <div class="d-inline-flex justify-content-center mt-3">Список собеседований</div>
</div>

<div class="row justify-content-center mt-3">
    <div class="col-auto">
        <table class="table table-bordered">
            <tr>
                {% for item in context['schema'] %}
                    <td> {{ item }} </td>
                {% endfor %}
                <td></td>
            </tr>
            {% for dictionary in context['data'] %}
                <tr>
                    <td>{{ dictionary['interview_date'] }}</td>
                    <td>{{ dictionary['vac_name'] }}</td>
                    <td>{{ dictionary['candidate'] }}</td>
                    <td>{{ dictionary['employee'] }}</td>

                    {% if not dictionary['result'] %}
                        <td>
                            <form action="/process/interview/hire" method="post">
                                <input type="hidden" name="i_id" value="{{ dictionary['i_id'] }}">
                                <label for="result" class="form-text">Результат</label>
                                <select class="form-control" id="result" name="result">
                                    <option value="rejected">Не принят</option>
                                    <option value="applied">Принят</option>
                                </select>
                                <br>
                                <input type="submit" class="btn btn-outline-primary btn-sm" value="Сохранить">
                            </form>
                        </td>
                    {% else %}
                        <td>{{ dictionary['result'] }}</td>
                    {% endif %}

                    <td>
                        <form action="" method="post">
                            <input type="hidden" name="id" value="{{ dictionary['i_id'] }}">
                            <input type="submit" class="btn btn-primary" value="Удалить">
                        </form>
                    </td>

                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <form action="{{ url_for('process.add_interview') }}">
        <input type="submit" class="btn btn-primary" value="Назначить собеседование">
    </form>
</div>
</body>
</html>