<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню запросов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ИС Рекрутинг</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/exit">Выход</a>
                </li>
            </ul>
            <div class="text-light">Вы авторизованы как {{ context.role }}</div>
        </div>
    </div>
</nav>

<div class="d-flex justify-content-center">
    <div class="d-inline-flex justify-content-center mt-3">Прием сотрудников на работу</div>
</div>

<ul class="list-group align-content-center">

    {% if context.group_permission_validation('process.vacancy') %}
        <li class="list-group-item">
            <a class="nav-link" href="{{ url_for('process.vacancy') }}">Редактировать вакансии</a>
        </li>
    {% endif %}

    {% if context.group_permission_validation('process.candidate') %}
        <li class="list-group-item">
            <a class="nav-link" href="{{ url_for('process.candidate') }}">Редактировать список кандидатов</a>
        </li>
    {% endif %}

    {% if context.group_permission_validation('process.interview') %}
        <li class="list-group-item">
            <a class="nav-link" href="{{ url_for('process.interview') }}">Список собеседований</a>
        </li>
    {% endif %}

</ul>


</body>
</html>