{% macro render_item(candidate, show_form=False) %}
<div style="border-style: solid; border-color: blue; margin: 10px; padding: 10px">
    <p>
        <span>Имя: {{ candidate['name'] }}</span>
    </p>
    <p>
        <span>Дата рождения: {{ candidate['birthday'] }}</span>
    </p>
    <p>
        <span>Образование: {{ candidate['education'] }}</span>
    </p>
    {% if show_form %}
    <form action="" method="post">
        <input type="hidden" name="c_id" value="{{ candidate['c_id'] }}">
        <input class="btn btn-primary" type="submit" value="Добавить">
    </form>
    {% endif %}
</div>
{% endmacro %}