<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить вакансию</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<div class="d-flex justify-content-center mt-3">
    Добавить вакансию
</div>

<div class="container h-100 mt-3">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-2" action="" method="post">
            <div class="form-group mb-3">
                <label for="position" class="form-text">Название позиции</label>
                <input class="form-control" type="text" name="position" id="position" required>
            </div>

            <div class="form-group mb-3">
                <label for="date" class="form-text">Дата открытия</label>
                <input class="form-control" type="date" name="date" id="date" required>
            </div>

            <input class="btn btn-primary" type="submit" value="Добавить">
        </form>
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('process.vacancy') }}">Назад</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">В главное меню</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('exit_system') }}">Выход</a>
        </li>
    </ul>
</div>
</body>
</html>