<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ИС Рекрутинг</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/exit">Выход</a>
                </li>
            </ul>
            <div class="text-light">Вы авторизованы как {{ context.role }}</div>
        </div>
    </div>
</nav>

<div class="d-flex justify-content-center mt-3">
    Добро пожаловать в главное меню.
</div>

<div class="d-flex justify-content-center mt-3">

    <ul class="nav flex-column">
        {% if context.group_permission_validation('query.query_menu') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('query.query_menu') }}">Меню запросов</a>
            </li>
        {% endif %}

        {% if context.group_permission_validation('auth.login_page') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login_page') }}">Аутентификация</a>
            </li>
        {% endif %}

        {% if context.group_permission_validation('process.process_menu') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('process.process_menu') }}">Прием сотрудников на работу</a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('exit_system') }}">Выход</a>
        </li>
    </ul>

</div>
</body>
</html>