<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат запроса</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<style>
    table,
    td {
        text-align: center;
    }
</style>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<div class="row justify-content-center mt-3">
    <div class="col-auto">
        <table class="table table-bordered">
            <tr>
                {% for item in context['schema'] %}
                    <td> {{ item }} </td>
                {% endfor %}
            </tr>
            {% for dictionary in context['data'] %}
                <tr>
                    {% for value in dictionary.values() %}
                        <td> {{ value }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('query.interview') }}">Назад</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">В главное меню</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('exit_system') }}">Выход</a>
        </li>
    </ul>
</div>
</body>
</html>