<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню запросов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<div class="d-flex justify-content-center">
    <div class="d-inline-flex justify-content-center mt-3">Меню запросов</div>
</div>

<div class="d-flex justify-content-center">
    <div class="d-inline-flex justify-content-center mt-3">Вы авторизованы как {{ context.role }}</div>
</div>

<div class="d-flex justify-content-center mt-3">
    <ul class="nav flex-column">

        {% if context.group_permission_validation('query.interview') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('query.interview') }}">Создать отчет о собеседованиях, проведенных
                    сотрудником в
                    заданный месяц</a>
            </li>
        {% endif %}

        {% if context.group_permission_validation('query.vacancy') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('query.vacancy') }}">Создать отчет о вакансиях, открытых в заданный
                    месяц</a>
            </li>
        {% endif %}

        {% if context.group_permission_validation('query.young_employee') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('query.young_employee') }}">Показать все сведения о самом молодом
                    сотруднике,
                    проводившем собеседование в заданный месяц</a>
            </li>
        {% endif %}

        {% if context.group_permission_validation('query.employee') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('query.employee') }}">Показать сотрудников, которые не проводили
                    собеседований в
                    заднный
                    месяц</a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">В главное меню</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('exit_system') }}">Выход</a>
        </li>
    </ul>
</div>
</body>
</html>